language: scala
dist: trusty
os:
  - linux
scala:
  - 2.10.6
jdk:
  - oraclejdk8
env:
  global:
    - TRAVIS_NODE_VERSION="8"
cache:
  directories:
    - $HOME/.ivy2/cache
    - $HOME/.sbt/boot/
    - $HOME/.coursier/cache
before_install:
  # Install Node.js and yarn.
  - nvm install 6
  - nvm use 6
  - node --version
  - curl -o- -L https://yarnpkg.com/install.sh | bash -s -- --version 0.24.6
  - export PATH=$HOME/.yarn/bin:$PATH
script:
  # - sbt scripted
  - sbt "sbt-web-scalajs-bundler/scripted sbt-web-scalajs-bundler/play"
