version: '{build}'
os: Windows Server 2012
environment:
  matrix:
    - CI_SBT_VERSION: 0.13.17
      SCALAJS_VERSION: 0.6.31
    - CI_SBT_VERSION: 1.2.1
      SCALAJS_VERSION: 0.6.31
    - CI_SBT_VERSION: 1.2.1
      SCALAJS_VERSION: 1.0.0-RC1
install:
  - ps: Install-Product node 6
  - cmd: choco install sbt --version 0.13.15 -ia "INSTALLDIR=""C:\sbt"""
  - cmd: SET PATH=C:\sbt\bin;%JAVA_HOME%\bin;%PATH%
  - cmd: SET SBT_OPTS=-XX:MaxPermSize=2g -Xmx4g
build: off
test_script:
  # Normally this would be "^^%CI_SBT_VERSION%" but it looks like
  # AppVeyor expands single '^' to '^^' to workaround the fact that in
  # Windows batch files '^' serves as an escape charactor.
  - cmd: sbt ";^%CI_SBT_VERSION%;test;runScripted"
cache:
  - C:\sbt
  - C:\Users\appveyor\.ivy2\cache
  - C:\Users\appveyor\.sbt
