name: CI
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - uses: coursier/cache-action@v5
      - uses: actions/setup-java@v4
        with:
          java-version: "11"
          distribution: "adopt"
      - uses: actions/setup-node@v3
        with:
          node-version: 16.14.2
      - name: Setup yarn
        run: npm install -g yarn@1.22.15
      - name: Unit tests
        run: sbt test
      - name: Scripted tests
        run: sbt scripted
      - name: Build the manual
        run: sbt manual/makeSite
